[submodule "northendlab-hugo"]
	path = northendlab-hugo
	url = https://github.com/themefisher/northendlab-hugo.git
[submodule "themes/northendlab"]
	path = themes/northendlab
	url = https://github.com/themefisher/northendlab-hugo.git
