<ul class="flex items-center">
  <li class="px-2">
    <a href="/es">
      <img
        alt="Español"
        class="w-5"
        src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/svg/es.svg"
        title="Español"
      />
    </a>
  </li>
  <li class="px-2">
    <a href="/en">
      <img
        alt="English"
        class="w-5"
        src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/svg/us.svg"
        title="English"
      />
    </a>
  </li>
</ul>
